{% load static %}
<!-- Footer Section Begin -->
<section class="w3l-bottom py-5">
    <div class="container">
        <div class="subscribe">
            <div class="row">
                <div class="col-lg-9 header-section mx-auto">
                    <h3 class="title-big mx-0 mw-100"> Work with our survey Team </h3>
                </div>
                <div class="col-lg-3 mt-lg-0 mt-4 align-self text-lg-right">
                    <a href="{% url 'contactus' %}" class="btn btn-light btn-style">Work with us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- map -->

    <!-- //map -->
</section>

<!-- footerlistings Section -->
{% include 'partials/home/_footerlistings.html' %}


<!-- //customers Section -->
<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                    <div class="footer-logo mb-4">
                        <a class="navbar-brand" href="index.html">
                            <span class=""><img src="{% static 'assets/images/logo.png' %}" class="w3-circle  " style=" width:45px; height:45px;" /></span> Surveyor</a>
                    </div>
                    <p>Landnet is a professional survey company that manages, organization, presentation, collection and delivery of spatial information mainly in conveyancing and boundary survey. <br><br> landnet is specialised in survey documentation for
                        land registration and title deed issuance in line with the Land registration Act and land Act.</p>
                    <div class="main-social-footer-29 mt-4">
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Navigation</h6>
                        <li><a href="{% url 'listings' %}">listings</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'contactus' %}">Contact us</a></li>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookies</a></li>



                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Services</h6>
                    <ul>
                        <li><a href="#Title-deed">Consultancy</a></li>
                        <li><a href="#marketplace">Title-deed</a></li>
                        <li><a href="#Feasibility">Feasibility</a></li>
                        <li><a href="#Design">Design</a></li>
                        <li><a href="#Pre-construction">Pre-construction</a></li>
                        <li><a href="#Construction">Construction</a></li>
                        <li><a href="#In Use">In Use</a></li>
                    </ul>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Contact Info </h6>
                    <p>Address : Shop B 14, Gacheru Neema House, Off Ruiru Kamiti Road, Ruiru.</p>
                    <p class="mt-2">Phone : <a href="tel:+254 0702 829887">+254 0702 829887</a></p>
                    <p class="mt-2">Phone 2 : <a href="tel:+254 0702 829887">+254 0702 829887</a></p>
                    <p class="mt-2">Email : <a href="mailto:info@example.com">landnetrealtors2011@gmail.com</a></p>
                    <p class="mt-2">Support : <a href="mailto:info@support.com">landnet2011@yahoo.com</a></p>
                    <p class="mt-2 w3-hide">Social : <a href="tel:+254 0702 829887">linked In</a></p>
                    <p class="mt-2 w3-hide">Social : <a href="tel:+254 0702 829887">Facebook</a></p>

                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <section class="w3l-copyright text-center">
        <div class="container">
            <p class="copy-footer-29">Copyright content © Landnet 2021</p>
        </div>

        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <!-- //copyright -->
</section>
<!-- Footer Section End -->
