<section class="w3l-top-header">
    <div class="container">
        <div class="top-header-2">
            <div class="d-grid main-top">
                <div class="top-headers">
                    <ul class="left-info">
                        <li>
                            <span class="fa fa-phone"></span><a href="tel:+254 0702 8299 887">+254 0702829887</a>
                        </li>
                        <li class="">
                            <a href="#help" class="d-md-block d-none">Surveyor</a>
                        </li>
                        <li class="w3-hide">
                            <a href="mailto:mail@example.com" class="d-md-block d-none">mail@example.com</a>
                        </li>
                    </ul>
                </div>
                <div class="top-headers">
                    <ul>
                        <li>
                            <a href="#facebook"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#twitter"><span class="fa fa-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#instagram"><span class="fa fa-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#linkedin"><span class="fa fa-linkedin"></span></a>
                        </li>
                        <li class="w3-hide-small">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun w3-amber"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>