{% load static %} {% load crispy_forms_tags %} {% load hitcount_tags %}


<br><br>

<!--listing hits-->
<section class="w3-content" style="max-width: 800px;">
    <div class="w3-responsive">
        <h5>Popular listings</h5>
        <table class="w3-table-all w3-border w3-border-white">
            <tr class="w3-white">
                <th>Listing</th>
                <th class="w3-hide">visitor</th>
                <th>Visits</th>

            </tr>

            {% for listing in listing_hits %}
            <tr>
                <td style="max-width: 70%;">{{listing.title|capfirst}}</td>
                <td class="w3-hide"></td>
                <td style="max-width: 70%;" class="w3-border-left"><span class=" w3-left w3-dark-grey badge">{% get_hit_count for listing %}  </span></td>
            </tr>
            {% endfor %}

        </table>
    </div>
    </div>
</section>