{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} Login {% endblock %} {% block content %}
<section class="w3-win8-crimson" >
        <div class="w3-display-container" >
          <img src="{% static 'assets/images/banner3.jpg' %}"  width="50%" height="500"/>
            <div class="w3-display-middle w3-win8-crimson w3-padding w3-card-4 w3-round-large" style="width: 380px; opacity:0.9">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group w3-content ">
                        <legend class="border-bottom mb-4 ">Log In</legend>
                        <!-- Alerts -->
                        {% include 'partials/_alerts.html' %}
                        <!--Alerts end-->
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group ">
                        <button class="btn w3-2019-evening-blue w3-block w3-hover-white " type="submit " name="next" value="{{ next }}">Log in</button>

                    </div>
                </form>
                <small class="text-muted ">
                    <a href="{% url 'password_reset' %}" class="w3-text-white ">Forgot Password?</a>
                </small>

                <div class="border-top pt-3 ">
                    <small class="text-muted w3-right w3-text-white">
                        You need an account create one here? <a class="ml-2 btn w3-hover-white w3-2019-evening-blue" href="{% url 'register' %} ">Create</a>
                    </small>
                </div>
            </div>

        </div>

</section>

{% endblock content %}
