{% extends 'base.html' %} {% load static %} {% load humanize %} {% block title %} Home {% endblock %} {% block content %}


<!-- main-slider -->
{% include 'partials/home/_mainslider.html' %}
<!-- /main-slider -->

<!-- about page about section -->
{% include 'partials/home/_about.html' %}
<!-- //about page about section -->


<!--  services section -->
{% include 'partials/home/_services.html' %}
<!--  //services section -->

<!-- listingshomepage section -->
<div class="w3-hide">
{% include 'partials/home/_homelistings.html' %}
</div>
<!-- //listingshomepage  section -->


<!--  News section -->
<div class="w3-hide">
  {% include 'partials/home/_news.html' %}
</div>
<!--  //News section -->

<!-- customers Section -->
{% include 'partials/home/_customers.html' %}
<!-- //customers Section -->

{% endblock %}
