{% extends 'base.html' %} {% load static %} {% load humanize %} {% block title %} Services {% endblock %} {% block content %} {% include 'pages/underconstruction.html' %}
<section class="">
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path w3-right">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">/ Services</li>
            </ul>
        </div>
    </section>
    <!--  services section -->
    <div class="w3l-servicesblock1" id="why">
        <section id="grids5-block" class="py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="row align-items-center">
                  {% for page in service_mvp %}
                    <div class="col-sm-3">
                        <h3 class="title-big mw-100">{{page.title|capfirst}}</h3>
                    </div>
                    <div class="col-sm mt-lg-0 mt-md-4 mt-3">
                    {{page.description|capfirst|safe|truncatewords:140}}

                   {% endfor %}
                </div>
                <div class="row mt-md-5 mt-4 text-center">
                  {% for page in home_service %}
                  {% if page.photo %}
                    <div class="col-lg-4 col-md-6">
                        <div class="grids5-info">
                            <a href="#service" class="d-block zoom"><img src="{{page.photo.url}}" alt="" class="img-fluid service-image" /></a>
                            <div class="blog-info">
                                <h4><a href="#service">{{page.title|capfirst}}</a></h4>
                            </div>
                        </div>
                    </div>
                  {% endif %}
                  {% endfor %}


                </div>
            </div>
        </section>
    </div>
    <!--  //services section -->
    <!-- services page services section -->
    <section class="w3l-services" id="core">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3 py-2">
                <div class="row">
                  {% if servicex %}
                  {% for page in servicex %}
                    <div class="col-lg-6 mb-lg-0 mb-md-5 mb-5 align-self">
                        <h6 class="title-small">core service </h6>
                        <h3 class="title-big mx-0">{{page.title|capfirst}} </h3>
                        {{ page.description|capfirst|safe|truncatewords:100}}
                        <a href="{% url 'contactus' %}" class="btn btn-primary btn-style mt-md-5 mt-4 mr-2">Work with us</a>
                        <a href="#Learnmore" class="btn btn-outline-primary btn-style mt-md-5 mt-4">Learn More</a>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="col-lg-6 align-self-center">
                        <div class="row features4-grids">
                          {% if about_service %}
                          {% for page in about_service %}
                            <div class="col-md-6 w3-margin-bottom">
                                <div class="features4-grid">
                                    <div class="feature-images">
                                        <span class="fa fa-circle" aria-hidden="true"></span>
                                    </div>
                                    <h5><a href="#about">{{page.title|capfirst}}</a></h5>
                                </div>
                            </div>
                          {% endfor %}
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //services page services section -->
    <section class="w3l-bottom-grids-6 py-5" id="allservices">
        <div class="container py-lg-5 py-md-4 py-2">
            <h6 class="title-small text-center">Our Services </h6>
            <h3 class="title-big mb-md-5 mb-4 text-center">Exclusive Landnet Services for our Clients .</h3>
            <div class="grids-area-hny main-cont-wthree-fea row">
              {% if services %}
              {% for page in services %}
                <div class="col-lg-3 col-md-6 grids-feature mt-4">
                    <div class="area-box" style="height:280px">
                        <span class="fa fa-star w3-large w3-card w3-text-red  w3-circle w3-border w3-border-red   "></span>

                        <h4><a href="#feature" class="title-head">{{ page.title|capfirst }}</a></h4>
                        <p>{{ page.description|capfirst|safe|truncatewords:8 }}</p>

                    </div>
                </div>
              {% endfor %}
              {% endif %}
            </div>
        </div>
    </section>
    <!-- //bottom-grids-->
    <section class="w3l-bottom py-5">
        <div class="container">
            <div class="subscribe">
                <div class="row">
                    <div class="col-lg-9 header-section mx-auto">
                        <h3 class="title-big mx-0 mw-100"> Work with our survey Team </h3>
                    </div>
                    <div class="col-lg-3 mt-lg-0 mt-4 align-self text-lg-right">
                        <a href="{% url 'contactus' %}" class="btn btn-light btn-style">Work with us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
