{% load static %}{% load humanize %}

<section class="hotel-rooms spad ">
    <div class="container ">
        <div class="row ">
            {% for listing in listings %}
            <div class="col-lg-4 col-md-6 ">
                <div class="room-items ">
                    <div class="room-img set-bg " data-setbg="{% if listing.photo_main.url %} {{listing.photo_main.url}} {% endif %}">
                        <div class="room-content ">
                            <a href="{% url 'listing' listing.id %} ">
                            {% if listing.plot %}
                            <button class="w3-win8-cobalt w3-left w3-button w3-hover-green w3-card w3-round ">
                                {{ listing.plot_type}} sale
                            </button>

                            {% elif listing.rental %}
                                <button class="w3-win8-emerald w3-left w3-button w3-hover-green w3-card w3-round ">Rental</button>
                            
                            {% elif listing.house %}

                                <button class="w3-win8-orange w3-left w3-button w3-circle w3-hover-green w3-card w3-round ">{{ listing.house_type}} Sale</button>
                           
                            {% endif %}
                            </a>
                            <a href="# " class="badge w3-padding w3-hide ">
                                <i class="flaticon-heart w3-hover-none w3-hover-text-yellow w3-card-4 w3-circle w3-hover-shadow "></i>
                            </a>
                        </div>
                    </div>
                    <div class="room-text ">
                        <div class="room-details ">
                            <div class="room-title ">
                                <h5>{{listing.title|capfirst|truncatechars:64}}</h5>
                                <a href="# "><i class="flaticon-placeholder "></i> <span>{{listing.neighbourhood|capfirst}}, {{listing.town|capfirst}} Town</span></a>
                                <a href="# " class="large-width "><i class="flaticon-cursor "></i> <span>
                                            Map</span></a>
                            </div>
                        </div>
                        {% if listing.house or listing.rental %} {% if listing.sqft %}
                        <div class="room-features ">

                            <div class="room-info ">
                                {% if listing.sqft %}
                                <div class="size ">
                                    <p>Lot Size sqft</p>
                                    <img src="{% static 'img/rooms/size.png' %} " alt=" ">

                                    <span>{{listing.sqft}} </span>

                                </div>
                                {% endif %} {% if listing.bedrooms %}
                                <div class="beds ">
                                    <p>Beds</p>
                                    <img src="{% static 'img/rooms/bed.png' %} " alt=" ">

                                    <span>{{listing.bedrooms}} </span>

                                </div>
                                {% endif %} {% if listing.bathrooms %}
                                <div class="baths ">
                                    <p>Baths</p>
                                    <img src="{% static 'img/rooms/bath.png' %} " alt=" ">

                                    <span>{{listing.bathrooms}} </span>

                                </div>
                                {% endif %} {% if listing.garage %}
                                <div class="garage ">
                                    <p>Garage</p>
                                    <img src="{% static 'img/rooms/garage.png' %} " alt=" ">

                                    <span>{{listing.garage}} </span>

                                </div>
                                {% endif %}

                            </div>

                        </div>
                        {% endif %} {% endif %} {% if listing.plot %} {% if listing.soil_type %}
                        <div class="room-features ">
                            <div class="room-info ">
                                <span style="margin-top: 1px; "></span> {% if listing.large_plot_size or listing.plot_size %}
                                <div class="size ">
                                    <p>Plot Size </p>
                                    <img src="{% static 'img/rooms/size.png' %} " alt=" "> {% if listing.large_plot_size %}
                                    <span>{{listing.large_plot_size}} Acres </span> {% elif listing.plot_size %}
                                    <span>{{listing.plot_size}} </span> {% endif %}
                                </div>
                                {% endif %} {% if listing.soil_type %}
                                <div class="beds ">

                                    <span class=" "><i class="fas fa-th w3-text-brown "></i> {{listing.soil_type}}</span>

                                </div>
                                {% endif %} {% if listing.plot_type %}
                                <div class="baths ">

                                    <span class=" "><i class="fas fa-draw-polygon w3-text-brown w3-hide "></i> {{listing.plot_type}}</span>

                                </div>
                                {% endif %} {% if listing.document_type %}
                                <div class="baths ">

                                    <span class="w3-normal "><i class="fas fa-certificate w3-text-red "></i> {{listing.document_type}}</span>

                                </div>
                                {% endif %}

                            </div>
                        </div>
                        {% endif %} {% endif %}






                        <div class="room-price ">
                            <p>For Sale</p>
                            <span>KES{{listing.price|intcomma}}</span>
                        </div>
                        <a href="{% url 'listing' listing.id %}" class="site-btn btn-line ">Detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}




        </div>
    </div>
</section>