{% load static %}{% load humanize %}
<section class="popular-room set-bg p-in " data-setbg="{% static 'img/bg-2.jpg' %} ">
    <div class="container ">
        <div class="row ">

            <div class="col-lg-6 offset-lg-6 ">
                <div class="slider-active owl-carousel ">
                    {% for listing in listings %}

                    <div class="popular-items ">
                        <div class="popular-room-text ">
                            <div class="popular-room-details ">
                                <div class="popular-room-title ">
                                    <h5>{{listing.title|capfirst}}</h5>
                                    <a href="# "><i class="flaticon-placeholder "></i> <span>{{listing.neighbourhood|capfirst}}, {{listing.town|capfirst}} Town, {{listing.county|capfirst}} County</span></a>
                                    <a href="# " class="large-width "><i class="flaticon-cursor "></i> <span>
                                                    Map</span></a>
                                </div>
                            </div>
                            <div class="popular-room-description ">
                                <div class="popular-room-desc ">
                                    {{listing.description|truncatechars:250|safe}}
                                </div>
                            </div>
                            <div class="popular-room-features ">
                                <div class="popular-room-info ">
                                    {% if listing.plot %} {% if listing.soil_type %}
                                    <span style="margin-top: 1px; "></span> {% if listing.large_plot_size or listing.plot_size %}
                                    <div class="size ">
                                        <p>Plot Size </p>
                                        <img src="{% static 'img/rooms/size.png' %} " alt=" "> {% if listing.large_plot_size %}
                                        <span>{{listing.large_plot_size}} Acres </span> {% elif listing.plot_size %}
                                        <span>{{listing.plot_size}} </span> {% endif %}
                                    </div>
                                    {% endif %} {% if listing.soil_type %}
                                    <div class="beds ">

                                        <span class="w3-large "><i class="fas fa-th w3-text-brown w3-large "></i> {{listing.soil_type}}</span>

                                    </div>
                                    {% endif %} {% if listing.plot_type %}
                                    <div class="baths ">

                                        <span class="w3-large "><i class="fas fa-draw-polygon w3-text-brown w3-large "></i> {{listing.plot_type}}</span>

                                    </div>
                                    {% endif %} {% if listing.document_type %}
                                    <div class="baths ">

                                        <span class="w3-large "><i class="fas fa-certificate w3-large w3-text-red "></i> {{listing.document_type}} Available</span>

                                    </div>
                                    {% endif %} {% endif %} {% endif %} {% if listing.rental %} {% if listing.sqft %}
                                    <div class="size ">
                                        <p>Lot Size sqft</p>
                                        <img src="{% static 'img/rooms/size.png' %} " alt=" ">

                                        <span>{{listing.sqft}} </span>

                                    </div>
                                    {% endif %} {% if listing.bedrooms %}
                                    <div class="beds ">
                                        <p>Beds</p>
                                        <img src="{% static 'img/rooms/bed.png' %} " alt=" ">

                                        <span>{{listing.bedrooms}} </span>

                                    </div>
                                    {% endif %} {% if listing.bathrooms %}
                                    <div class="baths ">
                                        <p>Baths</p>
                                        <img src="{% static 'img/rooms/bath.png' %} " alt=" ">

                                        <span>{{listing.bathrooms}} </span>

                                    </div>
                                    {% endif %} {% if listing.garage %}
                                    <div class="garage ">
                                        <p>Garage</p>
                                        <img src="{% static 'img/rooms/garage.png' %} " alt=" ">

                                        <span>{{listing.garage}} </span>

                                    </div>
                                    {% endif %} {% endif %} {% if listing.house %} {% if listing.sqft %}
                                    <div class="size ">
                                        <p>Lot Size sqft</p>
                                        <img src="{% static 'img/rooms/size.png' %} " alt=" ">

                                        <span>{{listing.sqft}} </span>

                                    </div>
                                    {% endif %} {% if listing.bedrooms %}
                                    <div class="beds ">
                                        <p>Beds</p>
                                        <img src="{% static 'img/rooms/bed.png' %} " alt=" ">

                                        <span>{{listing.bedrooms}} </span>

                                    </div>
                                    {% endif %} {% if listing.bathrooms %}
                                    <div class="baths ">
                                        <p>Baths</p>
                                        <img src="{% static 'img/rooms/bath.png' %} " alt=" ">

                                        <span>{{listing.bathrooms}} </span>

                                    </div>
                                    {% endif %} {% if listing.garage %}
                                    <div class="garage ">
                                        <p>Garage</p>
                                        <img src="{% static 'img/rooms/garage.png' %} " alt=" ">

                                        <span>{{listing.garage}} </span>

                                    </div>
                                    {% endif %} {% endif %}





                                </div>
                            </div>
                            <div class="popular-room-price ">
                                <p>For Sale</p>
                                <span>KES{{listing.price|intcomma}}</span><br> {% if listing.rental %}
                                <span class="w3-win8-emerald w3-text-white badge w3-hover-red ">
                                    Best         
                                        {{listing.house_type|capfirst}}                                    
                                     Rental
                                </span> {% elif listing.house %}
                                <span class="w3-win8-orange w3-text-white badge w3-hover-red ">
                                    Best         
                                        {{listing.house_type|capfirst}}                                    
                                     Property
                                </span> {% elif listing.plot %}
                                <span class="w3-win8-cobalt w3-text-white badge w3-hover-red ">
                                    Best         
                                        {{listing.plot_type|capfirst}}                                       
                                    Deal
                                </span> {% endif %}
                            </div>
                            <a href="{% url 'listing' listing.id %}" class="site-btn btn-line ">View Property</a>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>