{% load static %}
<div class="w3l-news text-11" id="homeblog">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Our Great Idea For<br>
                IT News</h3>
            <div class="row mt-lg-5 mt-4 text11-content">
                <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4">
                    <div class="grids5-info">
                        <a href="#blog-single" class="blog-image d-block zoom"><img src="{% static  'assets/images/blog1.jpg' %}"
                                alt="" class="img-fluid news-image" />
                            <div class="image-overlay">
                                <span class="fa fa-plus"></span>
                            </div>
                        </a>
                        <div class="blog-info card-body blog-details">
                            <h6 class="">Jan 15, 2021.</h6>
                            <a href="#category" class="post">Business, Case study</a>

                            <a href="#blog-single" class="blog-desc">Designers Checklist for Every UX
                                Project they Do.</a>
                                <a href="#blog-single" class="read">Read more <span
                                        class="fa fa-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#blog-single" class="blog-image d-block zoom"><img src="{% static  'assets/images/blog6.jpg' %}"
                                alt="" class="img-fluid news-image" />
                            <div class="image-overlay">
                                <span class="fa fa-plus"></span>
                            </div>
                        </a>
                        <div class="blog-info card-body blog-details">
                            <h6 class="">Jan 15, 2021.</h6>
                            <a href="#category" class="post">Business, Case study</a>

                            <a href="#blog-single" class="blog-desc">Designers Checklist for Every UX
                                Project they Do.</a>
                                <a href="#blog-single" class="read">Read more <span
                                        class="fa fa-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#blog-single" class="blog-image d-block zoom"><img src="{% static  'assets/images/blog3.jpg' %}"
                                alt="" class="img-fluid news-image" />
                            <div class="image-overlay">
                                <span class="fa fa-plus"></span>
                            </div>
                        </a>
                        <div class="blog-info card-body blog-details">
                            <h6 class="">Jan 15, 2021.</h6>
                            <a href="#category" class="post">Business, Case study</a>
                            <a href="#blog-single" class="blog-desc">Designers Checklist for Every UX
                                Project they Do.</a>
                                <a href="#blog-single" class="read">Read more <span
                                        class="fa fa-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
