{% load static %}

<section class="w3l-services-block-3 py-5" id="services">
    <div class="features-main py-lg-5 py-md-3">
        <div class="container">
            <div class="header-section text-center mx-auto">
                <h3 class="title-big">Our services.</h3>
            </div>
            <div class="row features mt-lg-4">
                {% if home_service %} {% for page in home_service %}
                <div class="col-lg-4 col-md-6 feature-grid">
                    <a href="{% url 'page' page.id %}">
                        <div class="feature-body service1" style="width: 100%; height:300px">
                            <div class="feature-img">
                                <span class="fa fa-sun-o" aria-hidden="true"></span>
                            </div>
                            <div class="feature-info mt-4">

                                <h3 class="feature-titel mb-3">{{ page.title }} </h3>

                                <div>{{ page.description|truncatewords:12|safe }}</div>

                                <a href="{% url 'page' page.id %}" class="read mt-4 d-block"></a>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>
</section>

{% include 'partials/home/_home_faq.html' %}

<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Related survey services</h3>
            <div class="row mt-lg-5 mt-4">
                {% if service %} {% for page in service %}
                <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 50px;">
                    <div class="grids5-info">
                        <div style="width: 100%; height:300px">
                            <a href="{% url 'page' page.id %}" class="d-block zoom"><img src="{{page.photo.url}}" alt="" class="img-fluid service-image" style="width: 100%; height:250px;" /></a>
                            <div class="blog-info">
                                <span class="fa fa-desktop"></span>
                                <h4><a href="{% url 'page' page.id %}">{{page.title|capfirst}}</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </section>
</div>