{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} Password reset {% endblock %} {% block content %}
<section class="hero-section set-bg about-us w3-padding-64" data-setbg="{% static 'img/bg.jpg' %}" style="height: 900px;">
    <div class="container hero-text text-white">
        <div class="w3-display-container" style="margin-top: 200px;">
            <div class="w3-display-middle w3-white w3-padding w3-card-4 w3-hide-large w3-hide-medium w3-round-large" style="width: 100%;">
              <div class="alert alert-info w3-xxlarge w3-margin-top">
                  An email has been sent with instructions to reset your password
              </div>
            </div>

            <div class="w3-display-middle w3-white w3-padding w3-card-4 w3-hide-small w3-round-large" style="width: 555px;">
              <div class="alert alert-info w3-xlarge w3-margin-top">
                  An email has been sent with instructions to reset your password
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
