{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block title %} Password reset {% endblock %} {% block content %}
<section class="hero-section set-bg about-us w3-padding-64" data-setbg="{% static 'img/bg.jpg' %}" style="height: 900px;">
    <div class="container hero-text">
        <div class="w3-display-container" style="margin-top: 200px;">
            <div class="w3-display-middle  w3-padding w3-card-4 w3-hide-large w3-hide-medium w3-round-large" style="width: 100%;">
              <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom w3-text-blue mb-4">Password reset</legend>
                      {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn w3-block btn-outline-info" type="submit">
                        Submit</button>

                  </div>
              </form>
            </div>

            <div class="w3-display-middle w3-white w3-padding w3-card-4 w3-hide-small w3-round-large" style="width: 555px;">
              <form method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom w3-text-blue mb-4">Password reset</legend>
                      {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                      <button class="btn w3-block btn-outline-info" type="submit">
                        Submit</button>

                  </div>
              </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
