{% load static %}
<section class="w3l-customers py-md-5 py-4" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-three owl-carousel owl-theme ">
                  {% for listing in listings %}
                    {% if listing.photo_main %}
                    <div class="item ">
                      <a href="{% url 'listing' listing.id %}">
                        <img src="{{listing.photo_main.url}}" alt="{{listing.title}}" class="w3-round-large " style="padding:35px; width: 250px; height:180px;">
                      </a>
                    </div>
                    {% endif %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
