{% load static %}

<section class="w3l-customers py-md-5 py-4" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-three owl-carousel owl-theme logo-view">
                    <div class="item">
                        <img src="{% static  'assets/images/logo1.png' %}" alt="company-logo" class="img-fluid">
                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo2.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo3.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo4.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo1.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo2.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo3.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="{% static  'assets/images/logo4.png' %}" alt="company-logo" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
