{% load static %}

<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>We are Creative</h6>
                                    <h5>World IT Service company </h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">Get the most of reduction in your team’s operating
                                        creates amazing UI/UX experiences. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>We are Creative</h6>
                                    <h5>World IT Service company </h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">Get the most of reduction in your team’s operating
                                        creates amazing UI/UX experiences. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>We are Creative</h6>
                                    <h5>World IT Service company </h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">Get the most of reduction in your team’s operating
                                        creates amazing UI/UX experiences. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>We are Creative</h6>
                                    <h5>World IT Service company </h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">Get the most of reduction in your team’s operating
                                        creates amazing UI/UX experiences. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
