{% load static %}

<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Landnet</h6>
                                    <h5>Survey solutions</h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">We offer professional result focused solutions. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Request a quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Landnet </h6>
                                    <h5>Consultancy</h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">We are open to help on any issue concerning survey get our professional advice </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Landnet</h6>
                                    <h5>Boundary Survey  </h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">We redifine and mark boundaries  in both urban and rural land. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Request a quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2" style="width:100%;">
                        <div class="banner-info">
                            <div class="container">
                                <div class="banner-info-bg">
                                    <h6>Landnet</h6>
                                    <h5>Engeenering Survey </h5>
                                    <p class="mt-md-4 mt-3 w3-hide-small">we offer construction projects survey control services and precise setting. </p>
                                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="about.html"> Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
