{% load static %}
<!---large view --->
<div class="col-lg-12 col-sm-12 w3-hide-small" style="height: 250px;  width:100%; margin-bottom: 30px;">
    <div class="grids5-info w3-display-container">
        <a href="#listing" class="blog-image d-block zoom"><img src="{% static 'assets/images/about2.jpg' %}" alt="" class="img-fluid radius-image " style="height: 250px; max-height:auto; width:100%" />
            <div class="w3-display-middle" style="width:100%">
                {% include 'partials/search/_search.html' %}
            </div>

        </a>
    </div>
</div>

<!---small view --->
<div class="col-lg-6 col-sm-12 w3-hide-large w3-hide-medium" style="height: 300px;  width:100%; margin-bottom: 30px;">
    <div class="grids5-info w3-display-container">
        <a href="#listing" class="blog-image d-block zoom"><img src="{% static 'assets/images/about2.jpg' %}" alt="" class="img-fluid radius-image " style="height: 300px; max-height:auto; width:100%" />
            <div class="w3-display-middle" style="width:100%">
                {% include 'partials/search/_search.html' %}
            </div>

        </a>
    </div>
</div>