{% load static %}

<section class="w3l-services-block-3 py-5" id="services">
    <div class="features-main py-lg-5 py-md-3">
        <div class="container">
            <div class="header-section text-center mx-auto">
                <h3 class="title-big">To design and deliver the innovative products.</h3>
            </div>
            <div class="row features mt-lg-4">
                <div class="col-lg-4 col-md-6 feature-grid">
                    <a href="#url">
                        <div class="feature-body service1">
                            <div class="feature-img">
                                <span class="fa fa-sun-o" aria-hidden="true"></span>
                            </div>
                            <div class="feature-info mt-4">
                                <h3 class="feature-titel mb-3">Augmented Reality </h3>
                                <p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
                                    ipsum.
                                </p>
                                <a href="#read" class="read mt-4 d-block"> Read More</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 feature-grid">
                    <a href="#url">
                        <div class="feature-body service2">
                            <div class="feature-img">
                                <span class="fa fa-wrench icon-fea" aria-hidden="true"></span>
                            </div>
                            <div class="feature-info mt-4">
                                <h3 class="feature-titel mb-3">Deep Expertise</h3>
                                <p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
                                    ipsum.
                                </p>
                                <a href="#read" class="read mt-4 d-block"> Read More</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 feature-grid">
                    <a href="#url">
                        <div class="feature-body service3">
                            <div class="feature-img">
                                <span class="fa fa-flask" aria-hidden="true"></span>
                            </div>
                            <div class="feature-info mt-4">
                                <h3 class="feature-titel mb-3">Software development</h3>
                                <p class="feature-text">Lorem ipsum dolor sit amet elit et. Debitis nam, minima iste
                                    ipsum.
                                </p>
                                <a href="#read" class="read mt-4 d-block"> Read More</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-products w3l-faq-block py-5" id="features">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row ">
            <div class="col-lg-6 mx-auto">
                <h3 class="title-big mb-md-5 mb-4 mw-100">Need a Beter Work? We are here to IT Solution with 30 years of experience</h3>
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1 mb-2">
                        <li>What we do</li>
                        <li>Our Mission</li>
                        <li>Social impact</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="products-content">
                            <h4 class="head">To believe that the smart looking website is the first impression all over.</h4>
                            <p>This Our History to a tendency to believe that the smart looking website is the first impression.
                                Lorem dolor sit amet, elit!</p>
                                <ul class="w3l-right-book mt-4">
                                    <li><span class="fa fa-check" aria-hidden="true"></span>Leading private equity firms</li>
                                </ul>
                        </div>
                        <div class="products-content">
                            <h4 class="head">This Our History to a tendency to believe that the smart looking website is the first impression.</h4>
                            <p>Lorem ipsum dolor sit amet, elit. Id ab commodi impedit magnam sint voluptates.
                            Minima velit expedita maiores, sit at in!</p>
                            <ul class="w3l-right-book mt-4">
                                <li><span class="fa fa-check" aria-hidden="true"></span>Helping Nonprofit organizations</li>
                                <li><span class="fa fa-check" aria-hidden="true"></span>Leading private equity firms</li>
                            </ul>
                        </div>
                        <div class="products-content">
                            <h4 class="head">This Our History to a tendency to believe thes that smart looking website is the first impression.</h4>
                            <p>Lorem ipsum dolor sit amet, elit. Id ab commodi impedit magnam sint voluptates.
                            Minima velit expedita maiores, sit at in!</p>
                            <ul class="w3l-right-book mt-4">
                                <li><span class="fa fa-check" aria-hidden="true"></span>Always Fast and friendly support</li>
                                <li><span class="fa fa-check" aria-hidden="true"></span>Experienced Professional Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-lg-5 mt-lg-0 mt-sm-5 mt-4">
                <div class="accordion">
                    <div class="accordion-item">
                        <button id="accordion-button-1" aria-expanded="true"><span class="accordion-title">How much does
                                a static website cost?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut tortor.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">How to
                                choose a best web template?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut pretium.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">How to download a template?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut tortor.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Why should i choose a free website?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut potenti.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Why should i choose a free website?</span><span class="icon" aria-hidden="true"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis
                                ut. Ut potenti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="w3l-servicesblock2" id="services">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <h3 class="title-big text-center">Some of Our Digital
                IT Services</h3>
            <div class="row mt-lg-5 mt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom"><img src="{% static  'assets/images/s1.jpg' %}" alt=""
                                class="img-fluid service-image" /></a>
                        <div class="blog-info">
                            <span class="fa fa-desktop"></span>
                            <h4><a href="#service">Work Expertise & Leadership</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom"><img src="{% static  'assets/images/s4.jpg' %}" alt=""
                                class="img-fluid service-image" /></a>
                        <div class="blog-info">
                            <span class="fa fa-cogs"></span>
                            <h4><a href="#service">Digital Product Development</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                    <div class="grids5-info">
                        <a href="#service" class="d-block zoom"><img src="{% static  'assets/images/s3.jpg' %}" alt=""
                                class="img-fluid service-image" /></a>
                        <div class="blog-info">
                            <span class="fa fa-line-chart"></span>
                            <h4><a href="#service">Business Software Development</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
