{% load static %}

<section class="w3l-products w3-content w3l-faq-block py-5" id="features" style="max-width:1000px">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row ">
            <div class="col-lg-12 mx-auto">
                <h3 class="title-big mb-md-5 mb-4 mw-100">Are you looking for a property? you are in luck, view some of our clients properties </h3>
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1 mb-2">
                        <li>House for sale</li>
                        <li>Rentals</li>
                        <li>Plots</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="products-content">
                            <div class="row mt-lg-5 mt-4">
                                {% for listing in listings %} {% if listing.house %} {% if listing.photo_main %}
                                <div class="col-lg-4 col-sm-6" style="height: 250px; width:100%; margin-bottom: 30px;">
                                    <div class="grids5-info">
                                        <a href="" class="blog-image d-block zoom"><img src="{{listing.photo_main.url}}" alt="" class="img-fluid radius-image" style="height: 250px; width:100%" />
                                            <div class="image-overlay">
                                                <h4>{{listing.title|capfirst|truncatechars:74}}</h4>

                                            </div>
                                            <div class="iconic-plus">
                                                <span class="fa fa-plus"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endif %} {% endif %} {% endfor %}
                            </div>
                        </div>

                        <div class="products-content">
                            <div class="row mt-lg-5 mt-4">
                                {% for listing in listings %} {% if listing.rental %} {% if listing.photo_main %}
                                <div class="col-lg-4 col-sm-6" style="height: 250px; width:100%; margin-bottom: 30px;">
                                    <div class="grids5-info">
                                        <a href="" class="blog-image d-block zoom"><img src="{{listing.photo_main.url}}" alt="" class="img-fluid radius-image" style="height: 250px; width:100%" />
                                            <div class="image-overlay">
                                                <h4>{{listing.title|capfirst|truncatechars:74}}</h4>

                                            </div>
                                            <div class="iconic-plus">
                                                <span class="fa fa-plus"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endif %} {% endif %} {% endfor %}
                            </div>
                        </div>

                        <div class="products-content">
                            <div class="row mt-lg-5 mt-4">
                                {% for listing in listings %} {% if plot %} {% if listing.photo_main %}
                                <div class="col-lg-4 col-sm-6" style="height: 250px; width:100%; margin-bottom: 30px;">
                                    <div class="grids5-info">
                                        <a href="" class="blog-image d-block zoom"><img src="{{listing.photo_main.url}}" alt="" class="img-fluid radius-image" style="height: 250px; width:100%" />
                                            <div class="image-overlay">
                                                <h4>{{listing.title|capfirst|truncatechars:74}}</h4>

                                            </div>
                                            <div class="iconic-plus">
                                                <span class="fa fa-plus"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endif %} {% endif %} {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
</section>