{% load static %}


<section class=" w3-content" style="max-width: 800px;">
    <div class="row w3-padding">
        <h5>Contact Messages</h5>
        {% for contactus in contactus %}
        <div class="col-sm-12 w3-margin-top w3-card  w3-hover-shadow ">
            <br>
            <span class="fa fa-circle w3-text-blue w3-right w3-padding"></span>
            <span class="w3-padding-24">
                    <strong>{{contactus.timestamp}}</strong>
                    <br> {{contactus.name }}<br><i>{{contactus.email}}</i><br>{{contactus.phone}}     
            </span>

            <hr class="w3-blue">
            <span class="w3-small"> <strong>Subject </strong> {{contactus.header|capfirst}}</span><br><br>

            <span class="w3-large"><strong>Message </strong><span class="w3-margin-top">{{contactus.message}}</span></span><br><br>
        </div>
        {% endfor %}
    </div>
    <br>
</section>