{% load static %}{% load front_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kenya No1 surveyor">
    <meta name="keywords" content="Landnet, surveyor, surveyor kenya, surveyor kiambu, surveyor ruiru, surveyor nairobi, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landnet |{% block title %}{% endblock %} </title>
    <link rel="shortcut icon" href="{% static 'assets/images/logoicon.png' type='image/png' %}" class="w3-circle" style="width:100px; height: 100px;"> {% include 'partials/_csslinks.html' %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- top header -->
    {% include 'partials/_topbar.html' %}


    <!-- Header  -->
    {% include 'partials/_header.html' %}


    <!-- Main Content -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}


    <!--  javascripts file here -->
    {% include 'partials/_javascriptlinks.html' %}


    <body>

</html>