{% load static %}{% load humanize %}

<!-- Fields -->
  <div class="row mb-5 fields">
    <div class="col-md-6">
      <ul class="list-group list-group-flush">


        {% if listing.plot_type %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-wind"></i> Plot type:
          <span class="float-right">{{ listing.plot_type}}</span>
        </li>
        {% endif %}

        {% if listing.soil_type %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-water"></i> Soil type:
          <span class="float-right">{{ listing.soil_type}}</span>
        </li>
        {% endif %}
        {% if listing.plot_size or listing.large_plot_size %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-square"></i> Lot Size:
          <span class="float-right"> {% if listing.plot_size %} {{ listing.plot_size }} {% else %} {{listing.large_plot_size}} Acres {% endif %}
          </span>
        </li>

        {% if listing.bedrooms %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-bed"></i> Bedrooms:
          <span class="float-right">{{ listing.bedrooms }}</span>
        </li>
        {% endif %}

        {% if listing.bathroooms %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-bath"></i> Bathrooms:
          <span class="float-right">{{ listing.bathrooms }}</span>
        </li>
        {% endif %}

        {% if listing.garage %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-car"></i> Garage:
          <span class="float-right">{{ listing.garage }}
          </span>
        </li>
        {% endif %}

        {% if listing.house_type %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-building"></i> House Type:
          <span class="float-right">{{ listing.house_type}}
          </span>
        </li>
        {% endif %}

      </ul>
    </div>

    <div class="col-md-6">
      <ul class="list-group list-group-flush">
        {% if listing.price %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-money-bill-alt"></i> Asking Price:
          <span class="float-right">Kes{{ listing.price | intcomma }}</span>
        </li>
        {% endif %}
        {% if listing.document_type %}
        <li class="list-group-item text-secondary">
          <i class="far fa-sun"></i> Document:
          <span class="float-right">{{ listing.document_type }}</span>
        </li>
        {% endif %}

        {% if listing.sqft %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-th-large"></i> Square Feet:
          <span class="float-right">{{ listing.sqft }}</span>
        </li>
        {% endif %}
        {% endif %}
        {% if listing.list_date %}
        <li class="list-group-item text-secondary">
          <i class="fas fa-calendar"></i> Listing Date:
          <span class="float-right">{{ listing.list_date }}</span>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
