{% load static %} {% load humanize %}
<div class="single-property">
    <div class="container">
        <div class="row spad-p">
            <div class="col-lg-12">
                <div class="property-title">
                    <h3>{{listing.title|capfirst}}</h3>
                    <a href="#"><i class="fa flaticon-placeholder"></i> {{listing.neighbourhood|capfirst}}, {{listing.town|capfirst}} Town, {{listing.county|capfirst}} County</a>
                </div>
                <div class="property-price">
                    <p>For Sale</p>
                    <span>KSH{{listing.price|intcomma}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="height: auto; max-height: 585px">
                <div class="property-img owl-carousel">
                    {% if listing.photo_main %}
                    <div class="single-img">
                        <img src="{{listing.photo_main.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %} {% if listing.photo_1 %}
                    <div class="single-img">
                        <img src="{{listing.photo_1.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %} {% if listing.photo_2 %}
                    <div class="single-img">
                        <img src="{{listing.photo_2.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %} {% if listing.photo_3 %}
                    <div class="single-img">
                        <img src="{{listing.photo_3.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %} {% if listing.photo_4 %}
                    <div class="single-img">
                        <img src="{{listing.photo_4.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %} {% if listing.photo_5 %}
                    <div class="single-img">
                        <img src="{{listing.photo_5.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %} {% if listing.photo_6 %}
                    <div class="single-img">
                        <img src="{{listing.photo_6.url}}" alt="" style="height: auto; max-height: 585px">
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>