{% load static %}
<!-- Slideshow -->
<div class="w3-container">
{% if listing.photo_main %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_main.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if listing.photo_1 %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_1.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if listing.photo_2 %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_2.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if listing.photo_3 %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_3.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if listing.photo_4 %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_4.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if listing.photo_5 %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_5.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if listing.photo_6 %}
  <div class="w3-display-container mySlides">
    <img src="{{listing.photo_6.url}}" style="width:100%; height:70vh">
    <div class="w3-display-topleft w3-container w3-padding-32">
      {% if listing.plot %}
      <span class="w3-brown w3-padding-large w3-animate-fade">
        Plot for sale
      </span>
      {% elif listing.rental %}
      <span class="w3-blue w3-padding-large w3-animate-fade">
        {{listing.house_type}} rental
      </span>
      {% elif listing.house %}
      <span class="w3-green w3-padding-large w3-animate-fade">
        {{listing.house_type}} for sale
      </span>
      {% endif %}

    </div>
  </div>
{% endif %}



<!-- Slideshow next/previous buttons -->
<div class="w3-container w3-dark-grey w3-padding w3-xlarge">
<div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
<div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

<div class="w3-center">
  {% if listing.photo_main %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
  {% endif %}
  {% if listing.photo_1 %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
  {% endif %}

  {% if listing.photo_2 %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  {% endif %}

  {% if listing.photo_3 %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
  {% endif %}

  {% if listing.photo_4 %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
  {% endif %}

  {% if listing.photo_5 %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
  {% endif %}

  {% if listing.photo_6 %}
  <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
  {% endif %}
</div>
</div>
